<footer>
	<div class="container">
    <div class="row">

			{% if clientDisclaimerUrl %}

			<div class="col-md-4 col-sm-6 col-xs-12">
					<h2>Over deze site</h2>
					<ul>
						<li><a href="{{ clientDisclaimerUrl }}">Privacyverklaring</a></li>
						{% if clientAccessibilityUrl %}
						<li><a href="{{ clientAccessibilityUrl }}">Toegankelijkheid</a></li>
						{% endif %}
					</ul>
				</div>
				{% endif %}


				{% if clientProjectUrl %}
				<div class="col-md-4  col-sm-6 col-xs-12">
					<h2>Meer informatie</h2>
					<ul>
						<li><a href="{{ clientProjectUrl }}/veelgestelde-vragen" target="_blank">
							Veelgestelde vragen
						</a>
					</li>
					</ul>
				</div>
				{% endif %}

				{% if (clientContactText and clientContactLink and (clientContactLinkUrl or clientEmail)) %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h2>Contact</h2>
					<p>
						{{ clientContactText | safe}}
					</p>
					<ul>
						{% if clientContactLinkUrl %}
							<li><a href="{{clientContactLinkUrl}}">{{ clientContactLink }}</a></li>
						{% else %}
							<li><a href="mailto:{{clientEmail}}">{{ clientContactLink }}</a></li>
						{% endif %}
					</ul>
				</div>
				{% elseif clientEmail %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<h2>Contact</h2>
					<p>
						Heeft u vragen over het gebruik van deze site?
					</p>
					<ul>
						<li><a href="mailto:{{clientEmail}}">Mail uw vraag</a></li>
					</ul>
				</div>
				{% endif %}

      </div>
		</div>
	</footer>
