{% extends 'layouts/main-without-flash.html' %}

{% block body %}
<div>
		<div class="upper-box card-body">
			{% if messages.success %}
		{% for success in messages.success %}
			<h1 class="">E-mail verzonden</h1>
			<p class="intro">
					{{ success.msg | safe}}
				</p>
		{% endfor %}
		{% else %}
			<h1 class="">Inloggen per e-mail</h1>
			<p class="intro">
				Je ontvangt per e-mail een link waarmee je kan inloggen. Hierna ben je gelijk ingelogd voor 6 maanden. Log je uit, dan verloopt je link en moet je een nieuwe aanvragen.
	    </p>
			<form
				method="post"
				action="{{loginUrl}}?&clientId={{clientId}}&redirect_uri={{redirectUrl}}"
			>
					<div class="form-group">
						{% include 'elements/error-flash.html' %}

						<label>
							E-mailadres:
						</label>

						<input
							type="email"
							value=""
							name="email"
							class="form-input"
							required
						/>
					</div>
					<input type="hidden" name="_csrf" value="{{csrfToken}}">
					<input type="hidden" name="clientId" value="{{clientId}}">

					<input type="submit" value="Stuur link" class="btn btn-primary">
			</form>
	{% endif %}

		</div>
		<br />
	<p>
		Geen e-mail gekregen na het versturen van de link?
		Kijk dan in je spam-map of
		<a href="mailto:{{clientEmail}}">neem contact met ons op.</a>
	</p>

</div>
{% endblock %}
