{% extends 'emails/layout.html' %}

{% block body %}
<h2 style="margin-bottom: 4px; font-size: 25px;">Inloggen op {{clientName}}</h2>

{% if firstName %}
<br />
<b> Beste {{firstName}}, </b>
<br />
{% endif %}
<br />

{% if contentType === 'denhaagknaptop' %}
<p>
    Op {{clientName}} is jouw e-mailadres gebruikt om een account aan te maken. Klik op de knop hieronder om in te loggen.
</p>

De knop is eenmalig bruikbaar en maximaal 48 uur geldig vanaf {{dateString}}.
<br />
<br />
{% else %}

Voor <a href="{{clientUrl}}" target="_blank">{{clientName}}</a>
is een inloglink aangevraagd voor dit emailadres.

Klik op de knop hieronder om automatisch in te loggen.
<br />
De knop is {{loginTokenValidDuration}} geldig.
<br />
<br />

{% endif %}




{% if contentType === 'denhaagknaptop' %}
<p align="left" style="margin: 10px 0;">
    <a
            href="{{tokenUrl}}"
            style="background-color: #003b5d; color:#fff; font-size: 15px; padding:15px 50px; text-decoration:none"
            target="_blank"
    >
        <b>Log in</b>
    </a>
</p>

{% else %}
<p align="middle" style="margin: 10px 0;">
    <a
            href="{{tokenUrl}}"
            style="background-color: #ec0000; color:#fff; font-size: 15px; padding:15px 50px; text-decoration:none"
            target="_blank"
    >
        <b>Log in</b>
    </a>
</p>

{% endif %}

<br />

{% if contentType === 'denhaagknaptop' %}
<p style="font-size:0.7em;font-style:italic;margin-bottom:5em;text-align:left" align="left">
{% else %}
<p style="font-size:0.7em;font-style:italic;margin-bottom:5em" align="center">
{% endif %}


  Of gebruik deze link in je browser:
	<br />
      {% if contentType === 'denhaagknaptop' %}
    <a
            href="{{tokenUrl}}"
            style="color:#003b5d"
            target="_blank"
    >
    {% else %}
        <a
                href="{{tokenUrl}}"
                style="color:#227b3c"
                target="_blank"
        >
    {% endif %}
    {{tokenUrl}}
  </a>
</p>

{% if contentType === 'denhaagknaptop' %}
<p style="font-size:0.7em;line-height:150%;padding-bottom:20px;text-align:left">
    Geen account aangemaakt op {{clientName}}? Dan heeft waarschijnlijk iemand anders per ongeluk jouw e-mailadres ingevuld. In dat geval kun je deze e-mail negeren: er wordt niks mee gedaan.
</p>
    {% endif %}
{% endblock %}
