{% extends 'emails/layout.html' %}

{% block body %}
<h2 style="margin-bottom: 4px; font-size: 25px;">Inloglink aangevraagd</h2>

{% if firstName %}
<br />
<b> Beste {{firstName}}, </b>
<br />
{% endif %}
<br />

<p>
    Op <a href="{{clientUrl}}" style="color:#227b3c" target="_blank"><span class="il">Statenkwartier</span> Begroot</a>

    is een inloglink aangevraagd voor dit emailadres.
</p>

Klik op de knop hieronder om automatisch in te loggen.
<br />
De knop is 60 minuten geldig.
<br />
<br />
<p align="left" style="margin: 10px 0;">
	<a
    href="{{tokenUrl}}"
    style="background-color: #227b3c; color:#fff; font-size: 15px; padding:15px 50px; text-decoration:none"
    target="_blank"
  >
		<b>Log in</b>
	</a>
</p>

<br />
<p style="font-size:0.7em;font-style:italic;margin-bottom:5emtext-align:left" align="center">
  Of gebruik deze link in je browser:
	<br />
  <a
    href="{{tokenUrl}}"
    style="color:#227b3c"
    target="_blank"
  >
    {{tokenUrl}}
  </a>
</p>

<p style="font-size:0.7em;line-height:150%;padding-bottom:20px;text-align:left">
    Geen account aangemaakt op <span class="il">Statenkwartier</span> Begroot? Dan heeft waarschijnlijk iemand anders per ongeluk jouw emailadres ingevuld. In dat geval kun je deze email negeren; er wordt niks mee gedaan.
</p>
{% endblock %}
