{% extends 'emails/layout.html' %}

{% block body %}
<h2 style="margin-bottom: 4px; font-size: 25px;">Inloggen op Statenkwartier Begroot</h2>

{% if firstName %}
<br />
<b> Beste {{firstName}}, </b>
<br />
{% endif %}
<br />

{% if process.env.CONTENT === 'statenkwartier' %}
<p>
    Op Statenkwartier Begroot is jouw e-mailadres gebruikt om een account aan te maken. Klik op de knop hieronder om automatisch in te loggen.
</p>

De knop is eenmalig bruikbaar en maximaal 48 uur geldig vanaf [datum en tijd].
<br />
<br />
{% else %}

Voor <a href="{{clientUrl}}" target="_blank">{{clientName}}</a>
is een inloglink aangevraagd voor dit emailadres.

Klik op de knop hieronder om automatisch in te loggen.
<br />
De knop is 60 minuten geldig.
<br />
<br />

{% endif %}




{% if process.env.CONTENT === 'statenkwartier' %}
<p align="left" style="margin: 10px 0;">
    <a
            href="{{tokenUrl}}"
            style="background-color: #227b3c; color:#fff; font-size: 15px; padding:15px 50px; text-decoration:none"
            target="_blank"
    >
        <b>Log in</b>
    </a>
</p>

{% else %}
<p align="middle" style="margin: 10px 0;">
    <a
            href="{{tokenUrl}}"
            style="background-color: #ec0000; color:#fff; font-size: 15px; padding:15px 50px; text-decoration:none"
            target="_blank"
    >
        <b>Log in</b>
    </a>
</p>

{% endif %}

<p align="left" style="margin: 10px 0;">
	<a
    href="{{tokenUrl}}"
    style="background-color: #227b3c; color:#fff; font-size: 15px; padding:15px 50px; text-decoration:none"
    target="_blank"
  >
		<b>Log in</b>
	</a>
</p>

<br />

{% if process.env.CONTENT === 'statenkwartier' %}
<p style="font-size:0.7em;font-style:italic;margin-bottom:5emtext-align:left" align="center">
{% else %}
<p style="font-size:0.7em;font-style:italic;margin-bottom:5em" align="center">
{% endif %}


  Of gebruik deze link in je browser:
	<br />
      {% if process.env.CONTENT === 'statenkwartier' %}
    <a
            href="{{tokenUrl}}"
            style="color:#227b3c"
            target="_blank"
    >
    {% else %}
        <a
                href="{{tokenUrl}}"
                style="color:#227b3c"
                target="_blank"
        >
    {% endif %}
    {{tokenUrl}}
  </a>
</p>

{% if process.env.CONTENT === 'statenkwartier' %}
<p style="font-size:0.7em;line-height:150%;padding-bottom:20px;text-align:left">
    Geen account aangemaakt op <span class="il">Statenkwartier</span> Begroot? Dan heeft waarschijnlijk iemand anders per ongeluk jouw emailadres ingevuld. In dat geval kun je deze email negeren; er wordt niks mee gedaan.
</p>
    {% endif %}
{% endblock %}
